@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">jacket</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Daily Task List
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@


<MudNavMenu>
    <div style="margin-bottom:10px;">
        <MudIcon Class="ml-1 mt-1" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="Size.Large" />
        <MudText Typo="Typo.h6" Class="mb-n2 ml-n1 flex-1 align-self-center" Align="Align.Center">Jacket App</MudText>
    </div>


    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/counter" Icon="@Icons.Material.Filled.AccountBalance" Match="NavLinkMatch.Prefix">Counter</MudNavLink>
    @*  <MudNavGroup Title="Settings" Expanded="true">
    <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
    <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>*@
    <MudNavLink Href="/fetchdata" Icon="@Icons.Material.Filled.Dataset" Match="NavLinkMatch.Prefix">Fetch Data</MudNavLink>
    <MudNavLink Href="/todo" Icon="@Icons.Material.Filled.Task" Match="NavLinkMatch.Prefix">Daily Task List</MudNavLink>
    <MudNavLink Href="/sikha" Icon="@Icons.Material.Filled.AddTask" Match="NavLinkMatch.Prefix">kehi sika yaar</MudNavLink>
</MudNavMenu>

